<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.text_area :titulo, placeholder: "Titulo..." %>
    <%= f.text_area :bajada, placeholder: "Bajada..." %>
    <%= f.text_area :cuerpo, placeholder: "Escribe tu noticia..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
